name: metrics
on:
  schedule:
    - cron: 0 * * * *
  workflow_dispatch:
  push:
    branches: main

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Amsterdam

          template: markdown
          filename: README.md
